<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        SELECT d.*,c.`name` as categoryName FROM dish d LEFT JOIN category c on d.category_id = c.id
        <where>
            <if test="name != null">d.name like concat('%',#{name},'%')</if>
            <if test="categoryId != null">d.category_id = #{categoryId}</if>
            <if test="status != null">d.status = #{status}</if>
        </where>
    </select>
    <select id="getByIdWithFlavor" resultType="com.sky.vo.DishVO">
        SELECT d.*,f.id AS flavorId,f.dish_id,f.`name` AS flavorName,f.`value` from dish d LEFT JOIN dish_flavor f ON d.id = f.dish_id
        where d.id = #{id}
    </select>
</mapper>